.search {
  float: left;
  position: relative;
  width: 100%;
  padding: 5px; }
  .search input[type="text"] {
    width: 100%;
    height: 40px;
    border-radius: 0px;
    float: left;
    line-height: 18px;
    font-size: 13px;
    color: #333333;
    background-color: white;
    padding: 11px 10px;
    margin: 0px; }
  .search ul.results {
    position: absolute;
    top: 43px;
    width: 100%;
    background: white;
    z-index: 20;
    background: #F6F6F6;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    float: left;
    list-style: none;
    padding: 0px; }
    .search ul.results:empty {
      display: none; }
    .search ul.results li {
      width: 100%;
      padding: 1px 5px;
      float: left;
      cursor: pointer; }
      .search ul.results li img {
        float: left;
        margin-right: 10px;
        height: 40px;
        width: 60px; }
      .search ul.results li .title {
        line-height: 40px;
        float: left;
        font-size: 14px;
        color: #333333;
        width: calc(100% - 70px);
        overflow: hidden;
        height: 40px; }
    .search ul.results li:hover {
      background: #ffffff; }
    .search ul.results li.active {
      background: #e8e8e8; }
    .search ul.results li.active:hover {
      background: #ffffff; }
