@import '../../../style/variables';
.search{
    float:left;
    position:relative;
    width:100%;
    padding: 5px;
    input[type="text"]{
        width: 100%;
        height: 40px;
        border-radius: 0px;
        float: left;
        
        line-height:18px;
        font-size:13px;
        color:$dark;
        background-color: white;
        padding:11px 10px;
        margin: 0px;
    }
    .results{
        position:absolute;
        top: 43px;
        width: calc(100% - 10px);
        background:white;
        z-index:20;
        background:$box;
        border:1px solid $border;
        border-radius:3px;
        list-style: none;
        padding:0px;
        text-align: left;
        &:empty {
            display: none;
        }
        button {
            width: 100%;
            padding: 1px 5px;
            cursor: pointer;
            img{
                float: left;
                margin-right: 10px;
                height: 40px;
                width: 60px;
            }
            .title {
                line-height: 40px;
                float: left;
                font-size: 14px;
                color: #333333;
                width: calc(100% - 70px);
                overflow:hidden;
                height:40px;
            }
            &:hover{
                background:$white;
            }
            &.active{
                background:$grey;
            }
            &.active:hover{
                background:$white;
            }
        }
        
    }
}