{
    "extends": [
        "airbnb"
    ],
    "globals": {
        "document": true,
        "localStorage": true,
        "window": true,
        "Notification": true
    },
    "env": {
        "jest": true
    }
}