.playlist {
  background: #DDDDDD;
  margin-bottom: 5px;
  float: left;
  width: 100%; }
  .playlist .number {
    width: 54px;
    height: 54px;
    background: #ffffff;
    color: #758000;
    font-size: 34px;
    font-weight: 300;
    line-height: 54px;
    text-align: center;
    float: left; }
  .playlist .square {
    float: left;
    padding: 5px; }
    .playlist .square .title {
      width: 100%;
      float: left;
      font-size: 20px;
      color: #333333; }
    .playlist .square .created {
      font-style: italic;
      color: #666666;
      font-size: 12px; }
