@import '../../../style/variables';

.chatbox {
    padding: 12px 10px;
    float: left;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    .message {
        float: left;
        clear: left;
        margin-bottom: 3px;
        color: $title;
        font-size: 12px;
        .author {
            margin-right: 3px;
            font-weight: 700;
        }
        .author.green {
            color: $authorgreen;
        }
        .author.blue {
            color: $authorblue;
        }
        .author.red {
            color: $authorred;
        }
    }
}
