header {
  height: 50px;
  width: 100%;
  background-color: #212121;
  border-bottom: 1px solid #666666; }

header .menu {
  position: relative;
  float: right; }

header .menu .menu-button-outer {
  float: left; }

header .menu .menu-button {
  height: 50px;
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
  padding: 0px 20px;
  line-height: 50px;
  color: #DCDCDC;
  font-size: 13px;
  float: left;
  font-weight: 700;
  cursor: pointer; }

header .menu .menu-button.border-left {
  border-right: 0px; }

header .menu .menu-button.active {
  background: #111111;
  color: #666666; }

header .menu .user {
  margin-left: 10px;
  float: left;
  margin-top: 13px; }

header .menu .user .user_icon {
  background: url("../../../img/user.png");
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 8px; }

header .menu .user .text {
  font-size: 15px;
  float: left;
  color: #ffffff;
  line-height: 24px; }

header .menu .user .username {
  font-size: 15px;
  float: left;
  color: #adbf00;
  margin-left: 4px;
  line-height: 24px; }

header .menu .user .arrow_down {
  width: 24px;
  height: 24px;
  float: left;
  background: url("../../../img/dropdown.png");
  cursor: pointer;
  margin-left: 8px; }

header .dropdown {
  width: 302px;
  border: 1px solid #6D6D6D;
  position: absolute;
  z-index: 2;
  background: #ffffff;
  top: 50px;
  right: 15px;
  border-top: 0px;
  padding: 10px; }

header .dropdown label {
  width: 100%;
  float: left;
  padding-bottom: 5px; }

header .dropdown label .title {
  font-weight: 700;
  font-size: 13px;
  color: #3E414C;
  float: left;
  line-height: 24px; }

header .dropdown label input {
  background: #F7F9F9;
  border: 1px solid #D9E0E2;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 13px;
  padding: 11px 10px; }

header .dropdown label input.red {
  background: #F8C99E;
  border-color: #FF5001; }

header .dropdown label .error, header .dropdown label .forgot {
  float: right;
  font-size: 11px;
  line-height: 24px;
  color: #FF4F00; }

header .dropdown .button {
  margin-top: 10px; }

header .dropdown .noaccount {
  margin-top: 10px;
  float: right;
  color: #3E414C;
  font-size: 11px;
  line-height: 38px; }

header .dropdown .noaccount .link {
  color: #FF4F00;
  cursor: pointer; }

header .dropdown.hidden {
  display: none; }

header .dropdown.small {
  width: 210px; }

header .logo {
  text-indent: -999999px;
  background: url("../../../img/logo.png") left center;
  width: 46px;
  height: 46px;
  margin: 0px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain; }

@media (min-width: 320px) and (max-width: 479px) {
  header {
    height: auto; }
  header .logo {
    width: 30px;
    margin-left: 0px;
    background-size: 100px 30px;
    background-repeat: no-repeat;
    background-position: center left; }
  header .menu .menu-button {
    border-bottom: 1px solid #333333;
    padding: 0px 10px; }
  header .dropdown {
    width: 100%;
    border: 0px;
    position: relative;
    background: #212121;
    float: left;
    top: 0px;
    right: 0px;
    padding: 10px 0px; }
  header .dropdown label .title {
    color: #DCDCDC; }
  header .dropdown .button {
    margin-top: 10px; }
  header .dropdown .noaccount {
    color: #DCDCDC; } }

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    padding: 0px; }
  header {
    height: auto; }
  header .search {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 8px; }
  header .search ul.results li .title {
    width: 398px; }
  header .logo {
    margin-left: 0px;
    width: 50px; }
  header .dropdown {
    width: 100%;
    border: 0px;
    position: relative;
    background: #212121;
    float: left;
    top: 0px;
    right: 0px;
    padding: 10px 0px; }
  header .dropdown label .title {
    color: #DCDCDC; }
  header .dropdown .button {
    margin-top: 10px; }
  header .dropdown .noaccount {
    color: #DCDCDC; } }

@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    text-indent: -999999px;
    width: 50px;
    height: 50px;
    margin: 0px;
    float: left; } }

@media (min-width: 992px) and (max-width: 1279px) {
  header {
    position: fixed;
    top: 0px;
    z-index: 2; } }

@media (min-width: 1280px) {
  .logo {
    width: 174px;
    margin-left: -52px; }
  header {
    position: fixed;
    top: 0px;
    z-index: 30; } }
