@import '../../../style/variables';

header {
    height: 50px;
    width: 100%;
    background-color: $header;
    border-bottom: 1px solid $light;
    .menu {
        position: relative;
        float: right;
        .menu-button-outer {
            float:left;
        }
        .menu-button {
            height: 50px;
            border-right: 1px solid $dark;
            border-left: 1px solid $dark;
            padding: 0px 20px;
            line-height: 50px;
            color: $volume;
            font-size: 13px;
            float: left;
            font-weight: 700;
            cursor: pointer;
        }
        .menu-button.border-left {
            border-right: 0px;
        }
        .menu-button.active {
            background: $buttonactive;
            color: $light;
        }
        .user {
            margin-left: 10px;
            float: left;
            margin-top: 13px;
            .user_icon {
                background: url("../../../img/user.png");
                width: 24px;
                height: 24px;
                float: left;
                margin-right: 8px;
            }
            .text {
                font-size: 15px;
                float: left;
                color: $white;
                line-height: 24px;
            }
            .username {
                font-size: 15px;
                float: left;
                color: $green;
                margin-left: 4px;
                line-height: 24px;
            }
            .arrow_down {
                width: 24px;
                height: 24px;
                float: left;
                background: url('../../../img/dropdown.png');
                cursor: pointer;
                margin-left: 8px;
            }
        }
    }
    .dropdown  {
        width: 302px;
        border: 1px solid $dropborder;
        position: absolute;
        z-index: 2;
        background: $white;
        top: 50px;
        right: 15px;
        border-top: 0px;
        padding: 10px;
        label {
            width: 100%;
            float: left;
            padding-bottom: 5px;
            .title {
                font-weight: 700;
                font-size: 13px;
                color: $title;
                float: left;
                line-height: 24px;
            }
            input {
                background: $input;
                border: 1px solid $inputborder;
                width: 100%;
                height: 35px;
                border-radius: 3px;
                font-size: 13px;
                line-height: 13px;
                padding: 11px 10px;
            }
            input.red {
                background: $inputred;
                border-color: $inputredborder;
            }
            .error,.forgot {
                float: right;
                font-size: 11px;
                line-height: 24px;
                color: $red;
            }
        }
        .button {
            margin-top: 10px;
        }

        .noaccount {
            margin-top: 10px;
            float: right;
            color: $title;
            font-size: 11px;
            line-height: 38px;
            .link {
                color: $red;
                cursor: pointer;
            }
        }
        &.hidden {
            display: none;
        }
    }
}

@media (min-width:320px) and (max-width:479px) {
    header {
        height: auto;
        .menu {
            .menu-button {
                border-bottom: 1px solid $dark;
                padding: 0px 10px;
            }
        }
    }
}

