@import '../../../style/variables';

.users{
    margin-bottom:10px;
    padding:3px 3px 10px 10px;
    background:$box;
    float:left;
    width:100%;
    border:1px solid $border;
    .header{
        width:100%;
        float:left;
        .title{
            color:$title;
            font-size:13px;
            font-weight:700;
            float:left;
            line-height:28px;
        }
        .number{
            background:$white url('../../../img/users.png') 6px center no-repeat;
            height:28px;
             color:$title;
            font-size:12px;
            font-weight:600;
            float:right;
            padding-left:36px;
            padding-right:10px;
            line-height:28px;
        }
    }
    .body{
        float:left;
        width:100%;
        margin:5px 0px;
        .user{
            margin-bottom: 5px;
            height:24px;
            border-radius:3px;
            float:left;
            margin-right:5px;
            font-size:12px;
            font-style:italic;
            line-height:24px;
            padding:0px 10px;
        }
        .user.green{
            background:$usergreen;
            color:$white;
        }
        .user.grey{
            background:$usergrey;
            color:$dark;
        }
        .user.red{
            background:$userred;
            color:$white;
        }
    }
}

