.users {
  margin-bottom: 10px;
  padding: 3px 3px 10px 10px;
  background: #F6F6F6;
  float: left;
  width: 100%;
  border: 1px solid #CCCCCC; }

.users .header {
  width: 100%;
  float: left; }

.users .header .title {
  color: #3E414C;
  font-size: 13px;
  font-weight: 700;
  float: left;
  line-height: 28px; }

.users .header .number {
  background: #ffffff url("../../../img/users.png") 6px center no-repeat;
  height: 28px;
  color: #3E414C;
  font-size: 12px;
  font-weight: 600;
  float: right;
  padding-left: 36px;
  padding-right: 10px;
  line-height: 28px; }

.users .body {
  float: left;
  width: 100%;
  margin: 5px 0px; }

.users .body .user {
  margin-bottom: 5px;
  height: 24px;
  border-radius: 3px;
  float: left;
  margin-right: 5px;
  font-size: 12px;
  font-style: italic;
  line-height: 24px;
  padding: 0px 10px; }

.users .body .user.green {
  background: #B1BB00;
  color: #ffffff; }

.users .body .user.grey {
  background: #D0D7DD;
  color: #333333; }

.users .body .user.red {
  background: #F94C12;
  color: #ffffff; }
