.video_player iframe {
  width: 100%;
  height: 400px;
  display: block; }

.video_player .progress {
  width: 100%;
  height: 5px;
  background: #AAAAAA;
  float: left; }

.video_player .progress .bar {
  width: 0%;
  background: #FF4F00;
  height: 5px;
  max-width: 100%; }

.video_player .toolbar {
  width: 100%;
  height: 36px;
  float: left;
  background: #4D4C4C;
  padding: 11px 11px; }

.video_player .toolbar .controls {
  float: left; }

.video_player .toolbar .controls .control {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 5px;
  float: left; }

.video_player .toolbar .controls .play {
  background: url("../../../img/play.png") no-repeat center; }

.video_player .toolbar .controls .stop {
  background: url("../../../img/stop.png") no-repeat center; }

.video_player .toolbar .controls .pause {
  background: url("../../../img/pause.png") no-repeat center; }

.video_player .toolbar .timer {
  float: left;
  margin-left: 20px; }

.video_player .toolbar .timer .elapsed {
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
  font-size: 12px;
  float: left; }

.video_player .toolbar .timer .total {
  color: #999999;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  float: left;
  margin-left: 6px; }

.video_player .volume {
  float: right; }

.video_player .volume .speaker {
  width: 16px;
  height: 22px;
  background: url("../../../img/volume.png") center no-repeat;
  float: left;
  margin-right: 10px;
  cursor: pointer; }

.video_player .volume .slider {
  width: 64px;
  height: 5px;
  float: left;
  margin-top: 9px;
  height: 5px;
  float: left;
  background: #DCDCDC;
  cursor: pointer; }

.video_player .volume .slider .handle {
  width: 5px;
  height: 13px;
  top: -4px;
  left: 40%;
  background: #ffffff;
  position: absolute; }

.video_player .video-empty {
  height: 400px;
  padding-top: 160px;
  background-color: #000000;
  text-align: center;
  vertical-align: middle; }

.video_player .video-empty .text-big {
  font-size: 24px;
  color: #DCDCDC; }

.video_player .video-empty .text-small {
  font-size: 16px;
  color: #666666; }

.video_player .youtube {
  width: 142px;
  background: url("../../../img/youtube.png");
  height: 19px;
  position: absolute;
  left: 10px;
  top: 10px; }

.video_player .player {
  position: relative; }

.video_player .player .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  cursor: default; }

.video_player .player:hover .overlay {
  opacity: 0.1; }

.main_window {
  background: white;
  float: left;
  width: 100%;
  margin: 25px 0px 20px 0px; }
