@import '../../../style/variables';

.video_player {
    iframe {
        width: 100%;
        height: 410px;
        display: block;
    }
    .progress {
        width: 100%;
        height: 5px;
        background: $slider;
        float: left;
        .bar {
            width: 0%;
            background: $l-red;
            height: 5px;
            max-width: 100%;
        }
    }
    .toolbar {
        width: 100%;
        height: 35px;
        float: left;
        background: $toolbar;
        padding: 7px 10px;
        .controls {
            float: left;
            .control {
                width: 20px;
                height: 20px;
                cursor: pointer;
                margin-right: 5px;
                float: left;
            }
            .play {
                background: url('../../../img/play.png') no-repeat center;
            }
            .stop {
                background: url('../../../img/stop.png') no-repeat center;
            }
            .pause {
                background: url('../../../img/pause.png') no-repeat center;
            }
        }
        .timer {
            float: left;
            margin-left: 20px;
            .time {
                font-weight: 600;
                line-height: 22px;
                color: $white;
                font-size: 12px;
                float: left;
                &.total {
                    margin-left: 6px;
                    color: $total;
                }
            }
        }
    }
    .volume {
        float: right;
        .speaker {
            width: 16px;
            height: 22px;
            background: url('../../../img/volume.png') center no-repeat;
            float: left;
            margin-right: 10px;
            cursor: pointer;
        }
        .slider{
            width: 64px;
            height: 5px;
            float: left;
            margin-top: 9px;
            height: 5px;
            float: left;
            background: $volume;
            cursor: pointer;
            .handle {
                width: 5px;
                height: 13px;
                top: -4px;
                left: 40%;
                background: $white;
                position: absolute;
            }
        }
    }
    .video-empty {
        height: 400px;
        padding-top: 160px;
        background-color: $black;
        text-align: center;
        vertical-align: middle;
        .text-big {
            font-size: 24px;
            color: $volume;
        }
        .text-small {
            font-size: 16px;
            color: $light;
        }
    }
    .youtube {
        width: 142px;
        background: url('../../../img/youtube.png');
        height: 19px;
        position: absolute;
        left: 10px;
        top: 10px;
        text-indent: -99999px;
    }
    .player {
        position: relative;
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: white;
            opacity: 0;
            cursor: default;
        }
    }
    .player:hover {
        .overlay {
            opacity: 0.1;
        }
    }
}

.playlist_header {
    float: left;
    padding-right: 10px;
    width: 100%;
    height: 40px;
    line-height: 46px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
    font-style: italic;

    .playlist_title {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
    }

    .playlist_username {
        font-style: italic;
    }
}

.main_window {
    background: white;
    float: left;
    width: 100%;
    margin: 25px 0px 0px 0px;
}