@media (min-width: $screen-lg-min) {

    .logo{
        width:174px;
        margin-left:-52px;
    }

    input[type="text"].search{
        width:570px;
    }

    header {
        position: fixed;
        top:0px;
        z-index: 30;
    }
    main {
        margin-top: 00px;
    }
    .main_window {
        position: fixed;

        top: 50px;
        width: 711px;
    }

}