*{
  box-sizing: border-box;
}

html {
  font-family: sans-serif; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

body {
  margin: 0;
}

header,
main,
nav,
section {
  display: block;
}


[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
textarea {
  color: inherit; // 1
  font: inherit; // 2
  margin: 0; // 3
}


button {
  overflow: visible;
  border: none;
  background: transparent;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], // 1
input[type="submit"] {
  -webkit-appearance: button; // 2
  cursor: pointer; // 3
}

button[disabled],
html input[disabled] {
  cursor: default;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}
