* {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

header,
main,
nav,
section {
  display: block; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  border: none; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

textarea {
  overflow: auto; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container:before, .container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1280px) {
  .container {
    width: 1250px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table; }

.container-fluid:after {
  clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1280px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  background: white; }

#app, .full-height {
  height: 100%; }

.container {
  position: relative; }

h1 {
  font-size: 55px;
  width: 100%;
  color: #ffffff;
  font-weight: 200;
  text-align: center; }

h2 {
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #3E414C; }

h3 {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #3E414C; }

p {
  margin: 2px 0px;
  font-size: 13px;
  color: #3E414C; }

input[type="text"] {
  background: #F7F9F9;
  border: 1px solid #D9E0E2;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 13px;
  padding: 11px 10px;
  margin-bottom: 7px; }

input[type="text"].small {
  float: left;
  width: 100%;
  margin-bottom: 0px; }

label {
  width: 100%;
  float: left;
  margin-bottom: 5px;
  margin-right: 20px; }

label span {
  float: left;
  line-height: 18px;
  margin-right: 10px;
  font-size: 13px; }

main {
  min-height: 100%;
  height: auto;
  margin: -50px auto -45px;
  padding: 50px 0 45px; }

#content {
  height: 100%; }

.button {
  height: 38px;
  line-height: 38px;
  padding: 0px 10px;
  font-size: 13px;
  font-weight: 700;
  float: left;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-right: 2px;
  user-select: none;
  cursor: pointer;
  outline: none; }

.button:active {
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 1px; }

.button.green {
  color: #ffffff;
  background: #B1BB00;
  box-shadow: 2px 2px 0px #9FA800; }

.button.green:active {
  box-shadow: 1px 1px 0px #9FA800; }

.button.blue {
  color: #ffffff;
  background: #5796FF;
  box-shadow: 2px 2px 0px #007BCD; }

.button.blue:active {
  box-shadow: 1px 1px 0px #007BCD; }

.button.grey {
  color: #3E414C;
  background: #EBEBEB;
  box-shadow: 2px 2px 0px #C3C3C3; }

.button.grey:active {
  box-shadow: 1px 1px 0px #C3C3C3; }

.button.red {
  color: #ffffff;
  background: #9FA800;
  box-shadow: 2px 2px 0px #B25900; }

.button.red:active {
  box-shadow: 1px 1px 0px #B25900; }

.button.show {
  margin-right: 30px;
  display: none; }

.button.show:active {
  margin-right: 29px; }

.button.hide:active {
  margin-right: 29px; }

.button.hide {
  margin-right: 30px; }

.button.share {
  margin-right: 30px; }

.button.share:active {
  margin-right: 29px; }

.button.delete {
  float: right; }

.button.chat {
  float: right; }

.button.logout {
  float: right;
  margin-right: 30px;
  padding: 0px 40px; }

.button.create {
  clear: both; }

.icon {
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  margin-top: 6px;
  margin-right: 6px; }

.icon.show {
  background-image: url("../img/show.png"); }

.icon.hide {
  background-image: url("../img/hide.png"); }

.icon.note {
  background-image: url("../img/note.png");
  margin-top: 0px; }

.icon.chat {
  background-image: url("../img/chat.png");
  margin-top: 0px; }

.icon.message {
  background-image: url("../img/message.png"); }

.no-gutter {
  padding: 0px; }

.left-gutter {
  padding-right: 0px;
  padding-left: 0px; }

.sidebar {
  float: left; }

.black {
  color: black; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent; }

::-webkit-scrollbar-track {
  width: 5px;
  height: 5px;
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 4px; }

.clearfix {
  clear: both; }

@media (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 320px;
    padding: 10px; }
  .settings {
    padding-left: 0px;
    margin-bottom: 10px; }
  .left-gutter {
    padding: 0px; }
  .playlist_item img {
    display: none; }
  .playlist_item .info {
    width: 226px; }
  .playlist_item .info .title {
    font-size: 13px; }
  .main {
    padding: 10px 16px; }
  .button.hide {
    margin-top: 10px; }
  .button.hide:active {
    margin-top: 11px;
    clear: left; }
  .button.share {
    margin-top: 10px; }
  .button.share:active {
    margin-top: 11px; }
  .video iframe {
    height: 150px; }
  .video .title {
    font-size: 22px;
    line-height: 24px;
    padding: 4px 0px; }
  .video .subtitle {
    font-size: 16px;
    line-height: 20px; }
  .video .toolbar .volume {
    display: none; }
  .video .toolbar .timer {
    margin: 0px;
    float: right; }
  .social h2 {
    color: #DCDCDC; }
  h1 {
    font-size: 26px; }
  .search_playlist {
    width: 270px; }
  .search_playlist .inner input {
    width: 250px;
    border-radius: 5px; }
  .search_playlist .inner .search_icon {
    display: none; }
  .presentation h2 {
    font-size: 21px; }
  .presentation .text {
    font-size: 12px; }
  .popular h3 {
    margin-left: 5px;
    font-size: 22px; }
  footer .container {
    padding: 0px; }
  footer .copyright {
    display: none; }
  .homeback {
    margin-top: 30px; } }

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    padding: 0px; }
  .main {
    padding: 10px 16px; }
  .box {
    width: 100%; }
  .left-gutter {
    padding: 0px; }
  .body {
    display: table;
    float: none; }
  .playlist_item .info {
    width: 266px; }
  .playlist_item .info .title {
    font-size: 13px; }
  .button.share {
    margin-top: 10px;
    clear: left; }
  .button.share:active {
    margin-top: 11px; }
  .video iframe {
    height: 250px; }
  .settings {
    padding-left: 0px;
    margin-bottom: 10px; }
  .social h2 {
    color: #DCDCDC; }
  h1 {
    font-size: 42px; }
  .search_playlist {
    width: 450px; }
  .search_playlist .inner input {
    width: 376px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .left-gutter {
    padding: 0px; }
  .chat-container {
    padding-left: 8px; }
  .search input[type="text"] {
    margin-top: 0px; }
  .playlist_item {
    height: 92px; }
  .playlist_item img {
    width: 125px;
    height: 86px; }
  .playlist_item .info {
    width: 221px;
    height: 86px; }
  .playlist_item .info .title {
    font-size: 13px; }
  .playlist_item .vote {
    padding: 2px 6px; }
  .middle-gutter {
    padding-left: 8px; }
  .box.first {
    margin-top: 0px; }
  .video iframe {
    height: 368px; }
  h1 {
    font-size: 37px; } }

@media (min-width: 992px) and (max-width: 1279px) {
  .main {
    padding: 10px 16px; }
  .button.share {
    margin-top: 10px; }
  .button.share:active {
    margin-top: 11px; }
  .video iframe {
    width: 100%;
    height: 244px;
    float: left; }
  .settings {
    margin-left: 0px;
    margin-bottom: 10px; }
  main {
    margin-top: 00px; } }

@media (min-width: 1280px) {
  main {
    margin-top: 00px; } }
