@import '../../../style/variables';

.playlist_item.related {
    height: 70px;
    padding: 5px 0px 5px 5px;

    img {
        height: 60px;
        width: auto;
    }
    .button-add {
        border-radius: 0px;
        border: 1px solid #e6e6e6;
        background-color: white;
        color: #333333;
        font-size: 13px;
        font-weight: 700;
        width: 60px;
        height: 40px;
        align-self: flex-start;
    }
    .info{
        .title{
            font-size: 14px;
            color: $dark;
            display: block;
            max-height: 52px;
            line-height: 17px;
            overflow: hidden;
        }
    }
}
@media (min-width:320px) and (max-width:479px) {
    .playlist_item{
        img{
            display: none;

        }
        .info{
            width:226px;
            .title {
                font-size: 13px;
            }
        }
    }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    .playlist_item {
        .info {
            width: 266px;
            .title {
                font-size: 13px;
            }
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  {
    .playlist_item {
        height: 92px;
        img {
            width: 125px;
            height: 86px;
        }
        .info {
            width: 221px;
            height: 86px;
            .title {
                font-size: 13px;
            }
        }
        .vote {
            padding: 2px 6px;
        }
    }
}