@import '../../../style/variables';

.box.playlist {
    background: #e1e1e1;
    border-top: 0px;
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    .header {
        height: 40px;
        width: 100%;
        padding: 10px 10px;
        background-color: #e6e6e6;
        display: flex;
        align-items: center;
        .title {
            font-size: 14px;
            font-weight: 600;
            color: $dark;
        }
        .created-by {
            font-size: 12px;
            font-weight: 400;
            font-style: italic;
            color: $dark;
         }		         
    }
    .body {
        float: left;
        width: 100%;
        height: 390px;
        overflow: auto;
    }
}
.empty_item {
    color:$title;
    padding:10px;
}

@media (max-width: $screen-md-min) {
    .box.playlist {
        margin-top: 0px;
    }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    .playlist_item {
        .info {
            width: 266px;
            .title {
                font-size: 13px;
            }
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  {
    .playlist_item {
        height: 92px;
        img {
            width: 125px;
            height: 86px;
        }
        .info {
            width: 221px;
            height: 86px;
            .title {
                font-size: 13px;
            }
        }
        .vote {
            padding: 2px 6px;
        }
    }
}
